* {
    font-family: 'Montserrat', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0!important;
}

.link {
    @apply text-sky-500 hover:underline;
}

h1 {
    @apply text-xl font-semibold text-gray-900;
}

h2 {
    @apply text-lg font-semibold text-gray-900;
}

h3 {
    @apply text-lg font-semibold text-gray-900;
}

[x-cloak] {
    display: none!important;
}
