* {
    font-family: 'Montserrat', sans-serif;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0!important;
}

.link {
    @apply text-sky-500 hover:underline;
}

h1 {
    @apply text-xl font-semibold text-gray-900;
}

h2 {
    @apply text-lg font-semibold text-gray-900;
}

h3 {
    @apply text-xl font-semibold text-gray-900;
}
